h1 translate="things.show.title" translate-value-name="{{thing.name}}"

div wg-twitter-button=true label="{{thing.name}}"

h2 translate="thing.tags"
ul
  li ng-repeat="tag in thing.tags" {{tag}}

div wg-score=true thing-id="thingId"
div wg-comments=true thing-id="thingId"
